nav {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.596);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.596);
}

nav .logo a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 5px;
  font-weight: normal;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  border: 1px #424242 solid;
  padding: 0.4rem;
}

nav .logo a:hover {
  color: #424242;
}

nav .nav-links,
nav .user-links {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-links li,
nav .user-links li {
  list-style: none;
}

nav .nav-links .register,
nav .user-links .register {
  border: 1px #424242 solid;
  padding: 0.4rem;
  border-radius: 5px;
}

nav .nav-links .register:hover,
nav .user-links .register:hover {
  color: orange;
  background-color: #424242;
}

nav .nav-links a,
nav .user-links a {
  margin: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 8px;
}

nav .nav-links a:hover,
nav .user-links a:hover {
  color: #424242;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

nav .user-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .user-links a {
  letter-spacing: normal;
}

nav .nav-links {
  width: 40%;
}

nav .linies {
  display: none;
  cursor: pointer;
}

nav .linies div {
  width: 25px;
  height: 3px;
  background-color: #424242;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .no-scroll {
    overflow-y: hidden;
  }
  body {
    overflow-x: hidden;
  }
  body .user-links {
    display: none;
  }
  body .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #ffd393;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
    background: linear-gradient(0deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    width: 40%;
  }
  body .nav-links li {
    opacity: 0;
  }
  body .linies {
    display: block;
  }
  body .animacioLinies .linia1 {
    -webkit-transform: rotate(45deg) translate(2px, 9px);
            transform: rotate(45deg) translate(2px, 9px);
  }
  body .animacioLinies .linia2 {
    opacity: 0;
  }
  body .animacioLinies .linia3 {
    -webkit-transform: rotate(-45deg) translate(2px, -9px);
            transform: rotate(-45deg) translate(2px, -9px);
  }
  body .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navAnimation {
    from {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navAnimation {
    from {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.curses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.curses .cursa {
  height: 20rem;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.curses .cursa .imatge-cursa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  position: relative;
}

.curses .cursa .imatge-cursa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.curses .cursa .imatge-cursa .modalitats {
  display: none;
}

.curses .cursa .imatge-cursa:hover {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.curses .cursa .imatge-cursa:hover .modalitats {
  -webkit-transition: display 0.3s ease-in-out;
  transition: display 0.3s ease-in-out;
  display: block;
  position: absolute;
  border: 1px solid #424242;
  background: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 1;
  text-align: center;
}

.curses .cursa .informacio-cursa {
  height: 100%;
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffc56d), color-stop(32%, #ffc15e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
  color: #424242;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.curses .cursa .informacio-cursa h3 {
  font-weight: bold;
  letter-spacing: 2px;
}

.curses .cursa .informacio-cursa p {
  text-align: justify;
  margin: 0;
}

.curses .cursa .informacio-cursa .link-cursa {
  border: #424242 1px solid;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 0.4rem;
  color: #424242;
  text-decoration: none;
}

.curses .cursa .informacio-cursa .link-cursa:hover {
  color: orange;
  background-color: #424242;
}

@media screen and (max-width: 1024px) {
  .curses .cursa {
    font-size: 0.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    height: 30rem;
  }
  .curses .cursa .imatge-cursa {
    width: 100%;
    height: 50%;
  }
  .curses .cursa .informacio-cursa {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 768px) {
  .curses {
    width: 90%;
    margin: auto;
  }
  .curses .cursa {
    width: 80%;
    height: 40%;
  }
  .curses .cursa .informacio-cursa {
    height: 60%;
  }
  .curses .cursa .imatge-cursa {
    height: 40%;
  }
}

.box-login {
  margin-top: 5vh;
}

.opcions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
}

.opcions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  padding: 0;
  margin: auto;
}

.opcions ul li {
  width: 10rem;
  height: 10rem;
  text-align: center;
  list-style: none;
  margin: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(109, 109, 109, 0.527);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(109, 109, 109, 0.527);
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
}

.opcions ul li:hover {
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
}

.opcions ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #424242;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .opcions {
    margin: 0;
  }
  .opcions ul {
    width: 100%;
  }
  .opcions ul li {
    margin: 1rem;
    width: 90%;
    height: 5rem;
  }
}

footer {
  margin: 1.8rem 0 0 0;
  width: 100%;
  background: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .separador {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.2vh;
  background-color: rgba(255, 255, 255, 0.466);
  margin: auto;
}

footer .links_pagina,
footer .social {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
  list-style: none;
}

footer .links_pagina a,
footer .social a {
  color: orange;
  font-size: large;
  text-decoration: none;
}

footer .links_pagina a:hover,
footer .social a:hover {
  color: rgba(255, 255, 255, 0.466);
}

footer .social {
  margin: 0 12rem 0 12rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.466);
}

.titol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 4rem 2rem 2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.titol h1 {
  width: 60%;
  border-bottom: 1px black solid;
  padding-bottom: 1rem;
}

.contingut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contingut .productes {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 4rem 0 0 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contingut .productes .producte {
  border-radius: 5px;
  padding-bottom: 5rem;
  width: 20rem;
  height: 26rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffc56d), color-stop(32%, #ffc15e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
}

.contingut .productes .producte:hover {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(109, 109, 109, 0.527);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(109, 109, 109, 0.527);
}

.contingut .productes .producte a {
  text-decoration: none;
}

.contingut .productes .producte .imatge-producte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: white;
}

.contingut .productes .producte .imatge-producte img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.contingut .productes .producte .dades-producte {
  height: auto;
  padding: 0.8rem;
  font-weight: bold;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contingut .productes .producte .dades-producte .separador {
  width: 90%;
  height: 1px;
  background-color: #424242;
  margin: 0.4rem 0;
}

.contingut-producte {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contingut-producte .imatge-producte {
  margin: 5rem;
  height: 22rem;
  width: 22rem;
  background: red;
}

.contingut-producte .imatge-producte img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contingut-producte .detalls-producte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 1.2rem;
}

* {
  scroll-behavior: smooth !important;
}
/*# sourceMappingURL=estils.css.map */