nav {
  background: #ffd393;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

nav .logo a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 5px;
  font-weight: normal;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  border: 1px #424242 solid;
  padding: 0.4rem;
}

nav .logo a:hover {
  color: #424242;
}

nav .nav-links, nav .user-links {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

nav .nav-links li, nav .user-links li {
  list-style: none;
}

nav .nav-links .register, nav .user-links .register {
  border: 1px #424242 solid;
  padding: 0.4rem;
  border-radius: 5px;
}

nav .nav-links .register:hover, nav .user-links .register:hover {
  color: orange;
  background-color: #424242;
}

nav .nav-links a, nav .user-links a {
  margin: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  letter-spacing: 2px;
}

nav .nav-links a:hover, nav .user-links a:hover {
  color: #424242;
}

nav .user-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .user-links a {
  letter-spacing: normal;
}

nav .nav-links {
  width: 40%;
}

nav .linies {
  display: none;
  cursor: pointer;
}

nav .linies div {
  width: 25px;
  height: 3px;
  background-color: #424242;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*@media screen and (min-width: 768) and (max-width: 1024) {
    .nav-links, .user-links{
        margin: 0px;
        display: flex;
        justify-content: space-around;
        width: 10%;
        background-color: red;
    }
}*/
@media screen and (max-width: 768px) {
  .no-scroll {
    overflow-y: hidden;
  }
  body {
    overflow-x: hidden;
  }
  body .user-links {
    display: none;
  }
  body .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #ffd393;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
    background: linear-gradient(0deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    width: 40%;
  }
  body .nav-links li {
    opacity: 0;
  }
  body .linies {
    display: block;
  }
  body .animacioLinies .linia1 {
    -webkit-transform: rotate(45deg) translate(2px, 9px);
            transform: rotate(45deg) translate(2px, 9px);
  }
  body .animacioLinies .linia2 {
    opacity: 0;
  }
  body .animacioLinies .linia3 {
    -webkit-transform: rotate(-45deg) translate(2px, -9px);
            transform: rotate(-45deg) translate(2px, -9px);
  }
  body .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navAnimation {
    from {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navAnimation {
    from {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
}

.box-login {
  margin-top: 5vh;
}

.opcions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
}

.opcions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  height: 30%;
  padding: 0;
}

.opcions ul li {
  text-align: center;
  list-style: none;
  border: 1px black solid;
  border-radius: 50px;
  padding: 1rem;
  margin: 1.5rem 0.2rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffd393), color-stop(32%, #ffc05e), color-stop(80%, #ffa43d));
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
  cursor: pointer;
}

.opcions ul li:hover {
  -webkit-filter: grayscale(35%);
          filter: grayscale(35%);
}

.opcions ul li a {
  color: #424242;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

* {
  scroll-behavior: smooth !important;
}
/*# sourceMappingURL=estils.css.map */