nav {
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.596);
}
nav .logo a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 5px;
  font-weight: normal;
  transition: color 0.4s ease;
  border: 1px #424242 solid;
  padding: 0.4rem;
}
nav .logo a:hover {
  color: #424242;
}
nav .nav-links,
nav .user-links {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
nav .nav-links li,
nav .user-links li {
  list-style: none;
}
nav .nav-links .register,
nav .user-links .register {
  border: 1px #424242 solid;
  padding: 0.4rem;
  border-radius: 5px;
}
nav .nav-links .register:hover,
nav .user-links .register:hover {
  color: orange;
  background-color: #424242;
}
nav .nav-links a,
nav .user-links a {
  margin: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 8px;
}
nav .nav-links a:hover,
nav .user-links a:hover {
  color: #424242;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
nav .user-links {
  justify-content: center;
}
nav .user-links a {
  letter-spacing: normal;
}
nav .nav-links {
  width: 40%;
}
nav .linies {
  display: none;
  cursor: pointer;
}
nav .linies div {
  width: 25px;
  height: 3px;
  background-color: #424242;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .no-scroll {
    overflow-y: hidden;
  }

  body {
    overflow-x: hidden;
  }
  body .user-links {
    display: none;
  }
  body .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #ffd393;
    background: linear-gradient(0deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    width: 40%;
  }
  body .nav-links li {
    opacity: 0;
  }
  body .linies {
    display: block;
  }
  body .animacioLinies .linia1 {
    transform: rotate(45deg) translate(2px, 9px);
  }
  body .animacioLinies .linia2 {
    opacity: 0;
  }
  body .animacioLinies .linia3 {
    transform: rotate(-45deg) translate(2px, -9px);
  }
  body .nav-active {
    transform: translateX(0%);
  }
  @-webkit-keyframes navAnimation {
    from {
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes navAnimation {
    from {
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.formulari-filtratge {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 1.4rem 0;
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.formulari-filtratge h3 {
  margin: auto;
  margin-bottom: 2rem;
}
.formulari-filtratge form {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formulari-filtratge form input[type=text],
.formulari-filtratge form input[type=number] {
  margin: 0.6rem;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  -webkit-box-decoration-break: unset;
          box-decoration-break: unset;
  background: #ffd17b;
  border: 0;
}
.formulari-filtratge form input[type=text]:focus,
.formulari-filtratge form input[type=number]:focus {
  outline: none;
  border-bottom: 2px #424242 solid;
  background: rgba(255, 228, 163, 0.301);
}
.formulari-filtratge form input[type=submit] {
  display: inline-block;
  width: 12rem;
  margin: 1rem 12rem;
  margin-top: 1.5rem;
}

.curses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 4rem;
  flex-wrap: wrap;
}
.curses .curses-buides {
  margin: 4rem;
  text-transform: uppercase;
  font-size: 2rem;
}
.curses .cursa {
  height: 20rem;
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem 2rem;
}
.curses .cursa .imatge-cursa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  position: relative;
}
.curses .cursa .imatge-cursa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.curses .cursa .imatge-cursa .modalitats {
  display: none;
}
.curses .cursa .imatge-cursa:hover {
  filter: grayscale(70%);
  transition: filter 0.3s ease-in-out;
}
.curses .cursa .imatge-cursa:hover .modalitats {
  display: block;
  position: absolute;
  border: 1px solid #424242;
  background: rgba(255, 255, 255, 0.466);
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 1;
  text-align: center;
}
.curses .cursa .informacio-cursa {
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
  color: #424242;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.curses .cursa .informacio-cursa h3 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
.curses .cursa .informacio-cursa p {
  text-align: justify;
  margin: 0;
  font-size: 0.9rem;
}
.curses .cursa .informacio-cursa .link-cursa {
  border: #424242 1px solid;
  border-radius: 10px;
  padding: 0.4rem;
  margin: 0.4rem;
  color: #424242;
  text-decoration: none;
}
.curses .cursa .informacio-cursa .link-cursa:hover {
  color: orange;
  background-color: #424242;
}

@media screen and (max-width: 1024px) {
  .curses {
    margin: 0;
  }
  .curses .cursa {
    font-size: 0.8rem;
    flex-direction: column;
    width: 100%;
    height: 30rem;
  }
  .curses .cursa .imatge-cursa {
    width: 100%;
    height: 50%;
  }
  .curses .cursa .informacio-cursa {
    width: 100%;
    height: 50%;
  }
}
@media screen and (max-width: 768px) {
  .curses {
    width: 90%;
    margin: auto;
  }
  .curses .cursa {
    width: 80%;
    height: 40%;
  }
  .curses .cursa .informacio-cursa {
    height: 60%;
  }
  .curses .cursa .imatge-cursa {
    height: 40%;
  }
}
p {
  font-size: 1rem;
}

.pagina-cursa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pagina-cursa .header-imatge {
  height: 18rem;
  width: 100%;
}
.pagina-cursa .header-imatge img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pagina-cursa .header-imatge .titular-cursa {
  width: 100%;
  height: 3rem;
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.75) 10%, rgba(255, 193, 94, 0.75) 32%, rgba(255, 164, 61, 0.75) 80%);
  transform: translateY(-3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
}
.pagina-cursa .header-imatge .titular-cursa h2 {
  font-weight: 800;
}
.pagina-cursa .info-cursa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0rem;
  width: 100%;
}
.pagina-cursa .info-cursa .dades-generals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  width: 60%;
  line-height: 2.2;
}
.pagina-cursa .info-cursa .modalitats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.pagina-cursa .info-cursa .modalitats .modalitat {
  max-width: 70%;
  height: auto;
  background: #fab958;
  padding: 1.5rem;
  margin: 1.2rem 0rem 1.2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 6px 6px 20px 6px rgba(0, 0, 0, 0.329);
  flex-direction: column;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-titol {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-top: 2px solid #424242;
  border-bottom: 2px solid #424242;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-titol h3 {
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-info li {
  border-radius: 50%;
  box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 7rem;
  height: 7rem;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-info li img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}
.pagina-cursa .info-cursa .modalitats .modalitat .separador {
  background-color: #424242;
  width: 90%;
  height: 2px;
  margin: 2rem;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-detalls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-detalls ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-detalls ul li {
  width: 40%;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem;
}
.pagina-cursa .info-cursa .modalitats .modalitat .modalitat-detalls ul li img {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
}

.box-login {
  margin-top: 5vh;
}

.private-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.private-zone .opcions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75%;
  margin-top: 5%;
}
.private-zone .opcions ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 0;
  margin: auto;
}
.private-zone .opcions ul li {
  width: 10rem;
  height: 10rem;
  text-align: center;
  list-style: none;
  margin: 2rem;
  border: 1px solid #424242;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffd393 10%, #ffc05e 32%, #ffa43d 80%);
}
.private-zone .opcions ul li:hover {
  filter: grayscale(25%);
}
.private-zone .opcions ul li a {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
.private-zone .opcions ul li a:hover {
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.329);
}
@media screen and (max-width: 768px) {
  .private-zone .opcions {
    margin: 0;
    width: 90%;
  }
  .private-zone .opcions ul {
    width: 100%;
  }
  .private-zone .opcions ul li {
    margin: 1rem;
    width: 90%;
    height: 5rem;
  }
}

footer {
  margin: 1.8rem 0 0 0;
  width: 100%;
  background: #424242;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
footer .separador {
  width: 90%;
  display: flex;
  height: 0.2rem;
  background: linear-gradient(180deg, #57565e 27%, #303033 75%);
  margin: auto;
}
footer .links_pagina,
footer .social {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
  list-style: none;
  padding: 1.2rem 0;
}
footer .links_pagina a,
footer .social a {
  color: orange;
  font-size: large;
  text-decoration: none;
}
footer .links_pagina a:hover,
footer .social a:hover {
  color: rgba(255, 255, 255, 0.466);
}
footer .social {
  margin: 0 12rem 0 12rem;
  justify-content: space-evenly;
}
footer .social li {
  border-radius: 20px;
  padding: 0.1rem;
}
footer .social li:hover {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.356);
}
footer h3 {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.466);
  text-shadow: 6px -6px 8px black;
  padding: 0.5rem;
}

.contingut {
  display: flex;
  justify-content: center;
  align-self: center;
}
.contingut .productes {
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  padding: 4rem 0 0 4rem;
  flex-wrap: wrap;
}
.contingut .productes .producte {
  border-radius: 5px;
  padding-bottom: 5rem;
  width: 20rem;
  height: 26rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
}
.contingut .productes .producte:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(109, 109, 109, 0.527);
}
.contingut .productes .producte a {
  text-decoration: none;
}
.contingut .productes .producte .imatge-producte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
}
.contingut .productes .producte .imatge-producte img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.contingut .productes .producte .dades-producte {
  height: auto;
  padding: 0.8rem;
  font-weight: bold;
  color: #424242;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.contingut .productes .producte .dades-producte .separador {
  width: 90%;
  height: 1px;
  background-color: #424242;
  margin: 0.4rem 0;
}

.contingut-producte {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}
.contingut-producte .imatge-producte {
  height: 22rem;
  width: 22rem;
}
.contingut-producte .imatge-producte img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contingut-producte .detalls-producte {
  margin-left: 2rem;
}
.contingut-producte .detalls-producte h2 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.contingut-producte .detalls-producte .dades {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contingut-producte .detalls-producte select,
.contingut-producte .detalls-producte input {
  width: 10rem;
  padding: 0.4rem 1.2rem;
  margin-bottom: 0.6rem;
  border-radius: 10px;
  outline: none;
}
.contingut-producte .detalls-producte select option:disabled,
.contingut-producte .detalls-producte input option:disabled {
  background: #424242;
  color: white;
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container .modalitats {
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .modalitats .modalitat {
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container .modalitats .modalitat .header-modalitat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.container .modalitats .modalitat .header-modalitat h4 {
  text-decoration: underline;
}
.container .boto-afegir {
  display: flex;
  justify-content: center;
}

.formulari-inscripcio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulari-inscripcio form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.formulari-inscripcio form select {
  margin: 0.5rem 0rem;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.5) 10%, rgba(255, 193, 94, 0.5) 32%, rgba(255, 164, 61, 0.5) 80%);
  border: 1px solid #424242;
}

.taula {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.342);
  margin: 5rem 0rem;
  width: 60%;
  border-radius: 10px;
  font-size: 1.2rem;
  overflow: hidden;
}
.taula .capcalera {
  width: 100%;
  background: #facd7b;
  padding: 1rem;
}
.taula .capcalera th {
  padding: 0.5rem 0.4rem 0.5rem 1rem;
}
.taula .cosTaula {
  font-size: 1rem;
}
.taula .cosTaula tr {
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.8) 10%, rgba(255, 193, 94, 0.8) 32%, rgba(255, 164, 61, 0.8) 80%);
}
.taula .cosTaula tr td {
  padding: 0.5rem 0.4rem 0.5rem 1rem;
}
.taula .cosTaula tr td img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.329);
}
.taula .cosTaula tr a {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
}
.taula .cosTaula tr a:hover {
  color: #fab958;
  text-shadow: 0px 0px 10px black;
}
.taula .cosTaula tr .casellaRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.taula .cosTaula tr:nth-child(odd) {
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
}
.taula th,
.taula td {
  text-align: center;
}

.formulari-producte {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
}
.formulari-producte .imatge-producte {
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  width: 14rem;
  height: 16rem;
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
  border-radius: 15px;
  box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.formulari-producte .imatge-producte h3 {
  margin: auto;
  font-weight: 500;
}
.formulari-producte .imatge-producte img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.formulari-producte .talles-disponibles {
  margin: 1.2rem 0 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formulari-producte .talles-disponibles .opcions-talles {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.formulari-producte .talles-disponibles input {
  padding: 0.5rem;
  border-radius: 10px;
}
.formulari-producte .boto {
  margin-top: 2rem;
}

.badge {
  background-color: #6394F8;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.icona-carro {
  background: transparent;
  border-radius: 10px;
  border: none;
  padding: 8px;
}
.icona-carro:hover {
  color: #424242;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.carro-compra {
  width: 21rem;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.carro-compra .header-carro {
  padding: 0.6rem;
  background: linear-gradient(90deg, #ffc56d 10%, #ffc15e 32%, #ffa43d 80%);
  display: flex;
  align-content: center;
  justify-content: center;
}
.carro-compra .header-carro h3 {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.carro-compra .detalls-carro {
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.692) 10%, rgba(255, 193, 94, 0.671) 32%, rgba(255, 164, 61, 0.678) 80%);
  display: flex;
  align-content: center;
  flex-direction: column;
}
.carro-compra .detalls-carro .shopping-cart-items {
  padding: 0;
}
.carro-compra .detalls-carro .shopping-cart-items li {
  margin: 1rem;
}
.carro-compra .detalls-carro .shopping-cart-items img {
  border-radius: 5px;
  margin-right: 10px;
}
.carro-compra .detalls-carro .total-carro {
  display: flex;
  align-content: center;
  justify-content: center;
}
.carro-compra .detalls-carro .total-carro h4 {
  font-weight: bolder;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #424242;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.quadre-total {
  margin: 0rem 2rem;
  width: 14rem;
  height: 10rem;
  background: #fab958;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 6px 6px 20px 6px rgba(0, 0, 0, 0.329);
  flex-direction: column;
}

.portada {
  height: 100%;
  width: 100%;
  background: url("../../images/portada/portada.jpg");
  background-size: cover;
  padding: 14rem 24rem;
}
.portada .portada-titol {
  width: 24rem;
  height: 14rem;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.portada .portada-titol h1 {
  font-family: "Satisfy", cursive;
  font-size: 4.5rem;
  text-shadow: 5px 5px 3px #424242;
  font-weight: bold;
  letter-spacing: 2px;
}
.portada .portada-titol .boto {
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.534);
}
.portada .portada-titol .boto a {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  color: black;
}
.portada .portada-titol .boto a:hover {
  font-weight: 900;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 1.2rem;
}

* {
  scroll-behavior: smooth !important;
}

.titol {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.titol h1 {
  width: 60%;
  border-bottom: 1px black solid;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.marges {
  margin: 10% 0rem;
}

.boto {
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.75) 10%, rgba(255, 193, 94, 0.75) 32%, rgba(255, 164, 61, 0.75) 80%);
  padding: 0.8rem;
  border-radius: 20px;
  border: 1px solid #424242;
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.boto:hover {
  text-decoration: none;
  color: #424242;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(255, 197, 109, 0.945) 10%, rgba(255, 193, 94, 0.938) 32%, rgba(255, 164, 61, 0.952) 80%);
}

.boto-petit {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.boto-vermell:hover {
  background: linear-gradient(90deg, rgba(255, 82, 76, 0.726) 10%, rgba(235, 88, 62, 0.733) 32%, rgba(255, 61, 61, 0.767) 80%);
  color: orange;
  text-shadow: 0px 0px 10px black;
}

.boto-blau:hover {
  background: linear-gradient(90deg, rgba(85, 157, 240, 0.726) 10%, rgba(40, 128, 243, 0.733) 32%, rgba(19, 88, 236, 0.767) 80%);
  color: orange;
  text-shadow: 0px 0px 10px black;
}

.boto-verd:hover {
  background: linear-gradient(90deg, rgba(19, 219, 35, 0.726) 10%, rgba(79, 216, 16, 0.747) 32%, rgba(7, 138, 14, 0.767) 80%);
}

.tornar {
  margin: 1rem;
  width: 75%;
}
.tornar .esquerra {
  float: left;
}
.tornar .dreta {
  float: right;
}

.taula-petita {
  width: 40%;
  font-size: 1rem;
}

.flexHoritzontal {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}/*# sourceMappingURL=estils.css.map */