html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth !important;
}

//Fonts
$poppins: 'Poppins', sans-serif;

//Colors
$grisFosc: rgb(66, 66, 66);

@import 'components/_header.scss';
@import 'components/_curses.scss';
@import 'components/_login.scss';