//Fonts
$poppins: 'Poppins',
sans-serif;
//Colors
$grisFosc: rgb(66, 66, 66);
$grisClar: rgba(255, 255, 255, 0.466);
@import 'components/_header.scss';
@import 'components/_curses.scss';
@import 'components/_cursa.scss';
@import 'components/_login.scss';
@import 'components/privatezone';
@import 'components/footer';
@import 'components/productes';
@import 'components/product';
@import 'components/creaciocurses';
@import 'components/inscripcio';
@import 'components/taulaCurses';
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: $poppins;
}

h4 {
    font-size: 1.2rem;
}

* {
    scroll-behavior: smooth !important;
}

.titol {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    h1 {
        width: 80%;
        border-bottom: 1px black solid;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
}

.marges {
    margin: 10% 0rem;
}