.opcions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    flex-wrap: wrap;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        padding: 0;
        margin: auto;
        li {
            width: 10rem;
            height: 10rem;
            text-align: center;
            list-style: none;
            margin: 2rem;
            border-radius: 10px;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(109, 109, 109, 0.527);
            background: linear-gradient(90deg, rgba(255, 211, 147, 1) 10%, rgba(255, 192, 94, 1) 32%, rgba(255, 164, 61, 1) 80%);
            &:hover {
                filter: grayscale(25%);
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $grisFosc;
                font-size: 1.2rem;
                text-decoration: none;
                text-align: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}