.contingut-producte {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    .imatge-producte {
        height: 22rem;
        width: 22rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .detalls-producte {
        margin-left: 2rem;
        max-width: 400px;
        h5 {
            text-align: justify;
        }
        h2 {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
        .dades {
            width: min-content;
            overflow: hidden;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        select,
        input {
            width: 10rem;
            padding: 0.4rem 1.2rem;
            margin-bottom: 0.6rem;
            border-radius: 10px;
            outline: none;
            option:disabled {
                background: $grisFosc;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contingut-producte {
        display: flex;
        flex-direction: column;
        .detalls-producte {
            flex-direction: column;
            display: flex;
            align-items: center;
        }
        img {
            margin-bottom: 20px;
        }
        h2 {
            text-align: center;
        }
        .dades {
            margin: auto;
        }
    }
}