.titol {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4rem 2rem 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    h1 {
        width: 60%;
        border-bottom: 1px black solid;
        padding-bottom: 1rem;
    }
}

.contingut {
    display: flex;
    justify-content: center;
    align-self: center;
    .productes {
        width: 90%;
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        padding: 4rem 0 0 4rem;
        flex-wrap: wrap;
        .producte {
            border-radius: 5px;
            padding-bottom: 5rem;
            width: 20rem;
            height: 26rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
            overflow: hidden;
            transition: box-shadow 0.3s ease;
            background: linear-gradient(90deg, rgb(255, 197, 109) 10%, rgb(255, 193, 94) 32%, rgb(255, 164, 61) 80%);
            &:hover {
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(109, 109, 109, 0.527);
            }
            a {
                text-decoration: none;
            }
            .imatge-producte {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                background-color: white;
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
            .dades-producte {
                height: auto;
                padding: 0.8rem;
                font-weight: bold;
                color: $grisFosc;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                .separador {
                    width: 90%;
                    height: 1px;
                    background-color: $grisFosc;
                    margin: 0.4rem 0;
                }
            }
        }
    }
}