.badge {
    background-color: #6394F8;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.icona-carro {
    background: transparent;
    border-radius: 10px;
    border: none;
    padding: 8px;
    &:hover {
        color: $grisFosc;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
}

.carro-compra {
    width: 21rem;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    .header-carro {
        padding: 0.6rem;
        background: $gradientTaronja;
        display: flex;
        align-content: center;
        justify-content: center;
        h3 {
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }
    .detalls-carro {
        background: $gradientTaronjaFluix;
        display: flex;
        align-content: center;
        flex-direction: column;
        .shopping-cart-items {
            padding: 0;
            li {
                margin: 1rem;
            }
            img {
                border-radius: 5px;
                margin-right: 10px;
            }
        }
        .total-carro {
            display: flex;
            align-content: center;
            justify-content: center;
            h4 {
                font-weight: bolder;
            }
        }
    }
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: $grisFosc;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.quadre-total {
    margin: 0rem 2rem;
    width: 15rem;
    height: 10rem;
    background: rgb(250, 185, 88);
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 6px 6px 20px 6px rgba(0, 0, 0, 0.329);
    flex-direction: column;
}