.titular-resum-inscripcio {
    margin: 2rem 0rem;
}
.resum-inscripcio {
    margin: 5rem 0rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        list-style: none;
        font-size: 1.1rem;
        margin: 0.6rem;
    }
    .inscripcio-esquerra {
        float: left;
    }
    .inscripcio-dreta {
        float: right;
        li {
            text-align: center;
        }
    }
}